<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>jums.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUserDataInitialization</servlet-name>
        <servlet-class>jums.AUserDataInitialization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUserCartInitialization</servlet-name>
        <servlet-class>jums.AUserCartInitialization</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADoubleDBshow</servlet-name>
        <servlet-class>jums.ADoubleDBshow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcartShow</servlet-name>
        <servlet-class>jums.AcartShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>jums.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change</servlet-name>
        <servlet-class>jums.Change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>jums.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buycomplete</servlet-name>
        <servlet-class>jums.Buycomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buyconfirm</servlet-name>
        <servlet-class>jums.Buyconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>jums.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>jums.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>jums.Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jums.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeleteResult</servlet-name>
        <servlet-class>jums.MyDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyData</servlet-name>
        <servlet-class>jums.MyData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDelete</servlet-name>
        <servlet-class>jums.MyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdate</servlet-name>
        <servlet-class>jums.MyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdateResult</servlet-name>
        <servlet-class>jums.MyUpdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>jums.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top</servlet-name>
        <servlet-class>jums.Top</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>jums.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>jums.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>jums.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>jums.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>jums.BuyComplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUserDataInitialization</servlet-name>
        <url-pattern>/AUserDataInitialization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUserCartInitialization</servlet-name>
        <url-pattern>/AUserCartInitialization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADoubleDBshow</servlet-name>
        <url-pattern>/ADoubleDBshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcartShow</servlet-name>
        <url-pattern>/AcartShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change</servlet-name>
        <url-pattern>/Change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buycomplete</servlet-name>
        <url-pattern>/Buycomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buyconfirm</servlet-name>
        <url-pattern>/Buyconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeleteResult</servlet-name>
        <url-pattern>/MyDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyData</servlet-name>
        <url-pattern>/MyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDelete</servlet-name>
        <url-pattern>/MyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdate</servlet-name>
        <url-pattern>/MyUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdateResult</servlet-name>
        <url-pattern>/MyUpdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
